<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content="Home Multimedia Storage"/>
	<meta name="author" content="Levkuts Mykola"/>

	<title>Home Multimedia Storage</title>

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<link href="../../../assets/css/twitter-bootstrap/bootstrap.min.css"
		  th:href="@{/assets/css/twitter-bootstrap/bootstrap.min.css}" rel="stylesheet"/>
	<!-- Custom CSS -->
	<link href="../../../assets/css/home-multimedia-storage.css"
		  th:href="@{/assets/css/home-multimedia-storage.css}" rel="stylesheet"/>

	<script src="../../../assets/js/jquery/jquery.min.js"
			th:src="@{/assets/js/jquery/jquery.min.js}"></script>
</head>
<body th:fragment="footer">
	<nav class="navbar navbar-inverse navbar-fixed-bottom">
		<div class="container">
			<p class="navbar-text">
				Site Built By Levkuts Mykola
			</p>
		</div>
	</nav>
	<script src="../../../assets/js/jquery/jquery.min.js"
			th:src="@{/assets/js/jquery/jquery.min.js}"></script>
	<script src="../../../assets/js/bootstrap/bootstrap.min.js"
			th:src="@{/assets/js/bootstrap/bootstrap.min.js}"></script>
</body>
</html>