<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Home Multimedia Storage">
	<meta name="author" content="Levkuts Mykola">

	<title>Home Multimedia Storage</title>

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<link href="../../../resources/css/twitter-bootstrap/bootstrap.min.css"
		  th:href="@{/resources/css/twitter-bootstrap/bootstrap.min.css}" rel="stylesheet"/>
	<!-- Custom CSS -->
	<link href="../../../resources/css/home-multimedia-storage.css"
		  th:href="@{/resources/css/home-multimedia-storage.css}" rel="stylesheet"/>

	<script src="../../../resources/js/jquery/jquery.min.js"
			th:src="@{/resources/js/jquery/jquery.min.js}"></script>
</head>
<body>
</body>
</html>