<!DOCTYPE html>
<html>
<head th:replace="template/head :: head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content="Home Multimedia Storage"/>
	<meta name="author" content="Levkuts Mykola"/>

	<title>Home Multimedia Storage</title>

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<link href="../../../assets/css/twitter-bootstrap/bootstrap.min.css"
		  th:href="@{/assets/css/twitter-bootstrap/bootstrap.min.css}" rel="stylesheet"/>
	<!-- Custom CSS -->
	<link href="../../../assets/css/home-multimedia-storage.css"
		  th:href="@{/assets/css/home-multimedia-storage.css}" rel="stylesheet"/>

	<script src="../../../assets/js/jquery/jquery.min.js"
			th:src="@{/assets/js/jquery/jquery.min.js}"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:replace="template/header :: header">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Home Multimedia Storage</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a href="#">About</a>
					</li>
					<li>
						<a href="#">Services</a>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li th:if="${#authorization.expression('isAuthenticated()')}">
						<a href="#" th:href="@{/logout}">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<form role="form" action="/j_spring_security_check">
					<div class="form-group">
						<label for="username">Username</label>
						<input type="text" class="form-control" id="username" placeholder="Username"/>
					</div>
					<div class="form-group">
						<label for="inputPassword">Password</label>
						<input type="password" class="form-control" id="inputPassword" placeholder="Password"/>
					</div>
					<div class="checkbox">
						<label><input type="checkbox"/>Remember me</label>
					</div>
					<button type="submit" class="btn btn-primary">Login</button>
				</form>
			</div>
		</div>
	</div>

	<div th:include="template/footer :: footer" th:remove="tag">
		<nav class="navbar navbar-inverse navbar-fixed-bottom">
			<div class="container">
				<p class="navbar-text">
					Site Built By Levkuts Mykola
				</p>
			</div>
		</nav>
		<script src="../../../assets/js/jquery/jquery.min.js"
				th:src="@{/assets/js/jquery/jquery.min.js}"></script>
		<script src="../../../assets/js/bootstrap/bootstrap.min.js"
				th:src="@{/assets/js/bootstrap/bootstrap.min.js}"></script>
	</div>
</body>
</html>
